body {
    text-align: center;
    margin: 30px 0 0 0;
    background: url("https://cdn.vox-cdn.com/thumbor/qjQsK5LFIeevQC8xNKo7ATUa6Eo=/0x0:7360x4912/1400x1400/filters:focal(2986x1821:4162x2997):format(jpeg)/cdn.vox-cdn.com/uploads/chorus_image/image/55264827/usa_today_10051572.0.jpg");
    background-size: auto;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: arial;
  }

  .scoreboard {
    margin: 30px auto;
    background-color: #fd79bb;
    padding: 20px 33px 30px 15px;
    width: 175px;
    border: 1px solid black;
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
  }



  .stars {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    cursor: pointer;
    border: none;
    max-width: 200px; 
  }

#kobe > img {
      width: 100px;
  }

#jordan > img {
    width: 200px;
}

#lebron > img {
    width: 200px;
}

#curry > img {
    width: 100px;
}

#shaq > img {
    width: 250px;
}