body {
    text-align: center;
    margin: 10px 0 0 0;
    background: url("https://cdn.vox-cdn.com/thumbor/qjQsK5LFIeevQC8xNKo7ATUa6Eo=/0x0:7360x4912/1400x1400/filters:focal(2986x1821:4162x2997):format(jpeg)/cdn.vox-cdn.com/uploads/chorus_image/image/55264827/usa_today_10051572.0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: white;
    font-family: arial;
  }

#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
		/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
	display: none;
}

#modal-textbox {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	/*This will set the margins for the top and the bottom to 150px (or larger). The right and left will automatically set themselves (and keep the box centered horizontally).*/
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	/*This will give the box some depth.*/
	padding: 2%; 
	line-height: 120%;
	overflow: auto;

}

.scoreboard {
    margin: 30px auto;
    background-color: black;
    padding: 35px 37px 40px 15px;
    width: 175px;
    border: 1px solid black;
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
  }

#player {
    position: relative;
    margin: auto;

  }

#computer {

  }

.allstars {
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: space-evenly;
    padding: 150px;
}

#kobe > img {
    width: 100px;
  }

#jordan > img {

    width: 150px;
}

#lebron > img {

    width: 170px;
}

#curry > img {

    width: 100px;
}

#shaq > img {

    width: 200px;
}